body
{
	width: 100%;
	height: 100%;
	background-color: white;
	color: white;
	font-family: Monospace, Mono;
	font-size: 9pt;
	overflow-x: hidden;
}
a
{
	color: white;
}


#box
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 20px;
	padding: 20px;
	border: 5px solid rgb(85,204,204);
	background-color: black;
	line-height: 3px;
}


#file
{
	display:none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}


#terminal
{
	position: absolute;
	top: 0px;
	left: 0px;
	/* cheap workaround for hiding the scrollbar, FIXME */
	right: -50px;
	height: calc(100% - 85px);
	display: none;
	padding: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}


#top_right_links
{
	position: absolute;
	top: 0px;
	right: 10px;
}
#top_right_links a
{
	display: block;
	background-color: rgb(85,204,204);
	float: left;
	padding: 20px;
	font-size: 12pt;
	font-weight: bold;
	margin: 0px 10px;
	text-decoration: none;
}
/*
	Scrollbar
*/
#scrollbar
{
	position: absolute;
	top: 70px;
	right: 20px;
	width: 20px;
	bottom: 80px;
	background-color: gray;
	display: none;
}
#knob
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: rgb(85,204,204);
}



#commandline
{
	position: absolute;
	left: 0px;
	right: 0px;
	height: 50px;
	bottom: 0px;
	padding-left: 15px;
	font-size: 15pt;
	background-color: black;
	color: white;
	border: none;
}


/*
	Simple fading animations
*/

.fade2gray
{
	color: gray;
	animation-duration: 2s;
	animation-name: fade2gray;
}
@keyframes fade2gray
{
	from {color: white;}
	to   {color: gray;}
}

.fadein
{
	opacity: 1.0;
	animation-duration: 2s;
	animation-name: fadein;
}
@keyframes fadein
{
  from {opacity: 0.0;}
  to   {opacity: 1.0;}
}

